.soc {
    @include flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus {
        background-color: var(--btn-color);
    }
}

.soc--color-gray {
    fill: var(--icon-color);

    &:hover,
    &:focus {
        fill: #fff;
        background-color: var(--btn-color);
        transition: fill 250ms var(--cubic), background-color 250ms var(--cubic);
    }
}

.soc--color-white {
    fill: #fff;
}

.soc--border {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}